#contact{
    background-image: linear-gradient(135deg,#00d2ff,#928dab);
    clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    padding: 10rem 0 7rem;
    margin-top: 10rem;
    color: #fff;
}

.contact__title{
    margin: 0 0 4.5rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.contact__email{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 738px) {
    #contact{
        
        clip-path:none;
    }
    .contact__email{
        font-size: 1.6rem;
    }
}
